.lightbox {
    display: none;
    position: fixed;
    z-index: 1000;
    padding-top: 60px;
    padding-bottom: 60px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);
}

/* .lightbox-content-wrapper {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    overflow-y: hidden;
    height: 100%;
    width: auto;
} */

.lightbox-content {
    margin: auto;
    display: block;
    height: 100%;
    width: auto;
    flex-shrink: 0;
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #ff9811;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: #ff9811;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev {
    left: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Disable hover effect on images inside the lightbox */
.lightbox-content:hover {
    pointer-events: none !important;
}





/* Hide lightbox on mobile devices */
@media screen and (max-width: 820px) {

    .lightbox-content {
        width: 100%;
        height: auto;
    }

    .lightbox {
        display: none !important;
    }
}